.footer_container {
  padding-top: 100px;
  background-color: var(--accent-light);
}

.footer_body {
  height: 150px;
  display: flex;
  font-size: 14px;
  padding: 20px 0;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.footer_logo {
  cursor: pointer;
}

.line_break {
  width: 100%;
  border: 1px solid var(--accent);
}

.copyright {
  font-size: 12px;
  padding: 10px 0;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  color: var(--secondary);
}
