.specialized_section {
  margin: 150px 0;
}

.specialized_container {
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 880px) {
  .specialized_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .specialized_container {
    grid-template-columns: 1fr;
  }
}
